* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans", sans-serif;
}
a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: start;
    gap: 70px;
    padding: 15px 0 15px 8vw;
    background-color: chocolate;
    /*padding-left: 20vw;*/

}
.header_nav_link {
    font-size: 13pt;
    color: aliceblue;
    /*font-family: "DejaVu Sans", Arial, sans-serif;*/
    transition: transform 0.7s ease;
}
.header_nav_link:hover {
    transform: scale(1.1);
}
/*main {*/
/*    margin-left: 8vw;*/
/*}*/

h2 {
    padding: 35px 0 35px 0;
    font-size: 20pt;
    color: #393c37;
    text-align: center;
}
/*h3 {*/
/*    !*text-align: center;*!*/
/*    color: #393c37;*/
/*    padding-bottom: 20px;*/
/*}*/

.profile_field{
        margin-left: 8vw;
        padding: 10px;
}

.message_errors {
    text-align: center;
    color: #393c37;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.form_update {
    padding: 10px;
    display: flex;
    /*flex-direction: row;*/
    gap: 5px;
}
label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12pt;
}

input {
    width: 25vw;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
}

.change_role_button {
    padding: 2px 50px 2px 50px;
}

button:hover {
    background-color: #b86009;
}

.user_button {
    width: 25vw;
    padding: 10px;
}

.admin_marker {
    color: darkorange;
}
.user_marker {
    color: cornflowerblue;
}

.error_number {
    margin: 20px;
    text-align: center;
    font-size: 80pt;
}

table {
    border-collapse: collapse;
}

.users_list_table {
    width: 90vw;
    margin-left: 5vw;
}
th {
    padding: 5px;
}
td {
    padding: 5px;
}
.book-grid {
    margin-top: 10px;
}
.book-item {
    padding: 15px;
}

.book_btn {
    display: inline-block;
    margin: 7px 5px 7px 5px;
    text-align: center;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 50px 5px 50px;
    width: 100%;
}

.book_details {
    margin-left: 8vw;
    padding: 10px;
    width: 450px;
}
.book_details_title {
    margin: 15px 0 10px 0
}

.delete {
    background-color: crimson;
}

.create {
    margin-left: 9vw;
    width: 12%;
    background-color: dodgerblue;
}

.book_detail_img {
    margin: 10px 0 10px 0;
}

.book_grid {
    margin-left: 8vw;
}

.create_book_btn {
    font-size: 20px;
    padding: 7px 100px 7px 100px;
}
.loan_item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    max-width: 450px;
}
.loan_item_info {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #007bff;
}